{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}user requests{% endblock %}</h1>
  {% if g.maker %}
    <a class="action" href="{{ url_for('user_req.create') }}"> make a new request</a>
  {% endif %}
{% endblock %}

{% block content %}
  {% for req in reqs %}
    <article class="req">
      <header>
      {}
      <div class="about"> <h1>{{req[1].maker[1]}}</h1> made a priority {{ req[7] }} request 
      </div>
        {% if g.maker[0] == req[1] %}
          <a class="action" href="{{ url_for('user_req.update', id=req[0])}}">edit</a>
       {% endif %}
      </header>
      <p class="body">date: {{ req[3] }}</p>
      <p class="body">time: {{ req[4] }}</p>
      <p class="body">location: {{ req[5] }}</p>
      <p class="body">people: {{ req[7] }} </p>
    </article>
    {% if not loop.last %}
      <hr>
    {% endif %}
  {% endfor %}
{% endblock %}
