{%extends 'user_base.html' %}

  <h1>{% block title %} home {% endblock %}  </h1>


{% block content %}
  {% for req in reqs %}
    <article class="req">
      <header>

      <div class="about">
        {% if g.maker[0] == req[1] %}
         <h3> you made a priority {{ req[7] }} request </h3>
        {% endif %}
        {% if g.maker[0] != req[1] %}
         <h3> someone else made a priority {{ req[7] }} request </h3>
        {% endif %}
      </div>
      </header>
      <b> {{ req[5] }} </b> has been requested for use on <b> {{ req[3] }} </b> at <b> {{ req[4] }} </b>
      <br>
      please check the final schedule to view the status of this request.
      <br><br>
      {% if g.maker[0] == req[1] %}
        <a class="action" href="{{ url_for('user_req.update', id=req[0])}}">edit request</a>
     {% endif %}
    </article>
    {% if not loop.last %}
      <hr>
    {% endif %}
  {% endfor %}
{% endblock %}
