{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}press to schedule{% endblock %}</h1>
  {% if g.maker %}
    <a class="action" href="{{ url_for('user_req.index') }}"> home</a>
    <a class="action" href="{{ url_for('user_req.FinalSchedule') }}"> FinalSchedule</a>
    <a class="action" href="{{ url_for('user_req.create') }}"> make a new request</a>
    <a class="action" href="{{ url_for('user_req.schedule') }}"> create the schedule</a>
  {% endif %}
{% endblock %}

{% block content %}
  <form method="post">
    <input type="submit" value="CREATE SCHEDULE">
  </form>
{% endblock %}
