{%extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Admin Required Information{% endblock %}</h1>
  {% if g.maker %}
     <a class="action" href="{{ url_for('admin.displayinfo') }}"> Admin Home</a>
     <a class="action" href="{{ url_for('admin.addLocations') }}"> Add Locations</a>
     <a class="action" href="{{ url_for('admin.addTimes') }}"> Add Available Times</a>
  {% endif %}
{% endblock %}

{% block content %}
    <form method="post">
       <label for="new_location">New Location</label>
       <input name="new_location" id="new_location" value="{{ request.form['new_location'] }}" required>
       <input name="new_location_capacity" id="new_location_capacity" value="{{ request.form['new_location_capacity']}}" required>
       <input type="submit" value="submit request">
    </form>
{% endblock %}
